#intro-panel {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	width: 50%;
}

#driverForm {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

h1 {
	text-align: center;
}
